bayrol-mqtt-nodered.json
[
  {
    "id": "5bd26b90a33373fd",
    "type": "tab",
    "label": "Bayrol AS5",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "dcd9e1cae3ef0089",
    "type": "mqtt in",
    "z": "5bd26b90a33373fd",
    "name": "Bayrol AS5 metrics",
    "topic": "d02/23ASE2-05145/v/#",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "5e9b943f5d1f22f3",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 110,
    "y": 280,
    "wires": [["c1ec5d73fa2ace38", "9d5eb6207008d7e9"]]
  },
  {
    "id": "ebe53bfe27cdc827",
    "type": "mqtt out",
    "z": "5bd26b90a33373fd",
    "name": "Mosquitto Home Assistant",
    "topic": "",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "678d9322240db5c6",
    "x": 660,
    "y": 280,
    "wires": []
  },
  {
    "id": "c1ec5d73fa2ace38",
    "type": "function",
    "z": "5bd26b90a33373fd",
    "name": "Transform message",
    "func": "msg.topic = msg.topic.replace('d02/23ASE2-05145/v/4.82', 'homeassistant/pool/bayrolAS5/redox').replace('d02/23ASE2-05145/v/4.98', 'homeassistant/pool/bayrolAS5/temp').replace('d02/23ASE2-05145/v/4.100', 'homeassistant/pool/bayrolAS5/salt');\nif (msg.topic === 'd02/23ASE2-05145/v/4.182') {\n    msg.topic = 'homeassistant/pool/bayrolAS5/ph';\n}\nif (['homeassistant/pool/bayrolAS5/ph', 'homeassistant/pool/bayrolAS5/temp', 'homeassistant/pool/bayrolAS5/salt'].includes(msg.topic)) {\n    msg.payload.v = msg.payload.v / 10;\n} \n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 280,
    "wires": [["ebe53bfe27cdc827"]]
  },
  {
    "id": "09762e02f5546b19",
    "type": "mqtt out",
    "z": "5bd26b90a33373fd",
    "name": "Bayrol Broker",
    "topic": "",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "5e9b943f5d1f22f3",
    "x": 600,
    "y": 540,
    "wires": []
  },
  {
    "id": "17c64f4d4d7905e1",
    "type": "inject",
    "z": "5bd26b90a33373fd",
    "name": "Bayrol AS5 refresh PH",
    "props": [{ "p": "topic", "vt": "str" }],
    "repeat": "300",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "d02/23ASE2-05145/g/4.2",
    "x": 210,
    "y": 400,
    "wires": [["09762e02f5546b19"]]
  },
  {
    "id": "9d5eb6207008d7e9",
    "type": "debug",
    "z": "5bd26b90a33373fd",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 580,
    "y": 460,
    "wires": []
  },
  {
    "id": "87352aad4e5e75d3",
    "type": "inject",
    "z": "5bd26b90a33373fd",
    "name": "Bayrol AS5 refresh redox",
    "props": [{ "p": "topic", "vt": "str" }],
    "repeat": "300",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "d02/23ASE2-05145/g/4.82",
    "x": 210,
    "y": 460,
    "wires": [["09762e02f5546b19"]]
  },
  {
    "id": "e27264383d271251",
    "type": "inject",
    "z": "5bd26b90a33373fd",
    "name": "Bayrol AS5 refresh temperature",
    "props": [{ "p": "topic", "vt": "str" }],
    "repeat": "300",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "d02/23ASE2-05145/g/4.98",
    "x": 230,
    "y": 520,
    "wires": [["09762e02f5546b19", "9d5eb6207008d7e9"]]
  },
  {
    "id": "3a638f732ecfa4db",
    "type": "inject",
    "z": "5bd26b90a33373fd",
    "name": "Bayrol AS5 refresh salt",
    "props": [{ "p": "topic", "vt": "str" }],
    "repeat": "300",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "d02/23ASE2-05145/g/4.100",
    "x": 210,
    "y": 580,
    "wires": [["09762e02f5546b19"]]
  },
  {
    "id": "d2ba43d298e9d32f",
    "type": "inject",
    "z": "5bd26b90a33373fd",
    "name": "Bayrol AS5 refresh",
    "props": [{ "p": "topic", "vt": "str" }],
    "repeat": "300",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "d02/23ASE2-05145/g/5.2",
    "x": 190,
    "y": 660,
    "wires": [["9d5eb6207008d7e9", "09762e02f5546b19"]]
  },
  {
    "id": "5e9b943f5d1f22f3",
    "type": "mqtt-broker",
    "name": "Bayrol Broker",
    "broker": "wss://www.bayrol-poolaccess.de:8083",
    "port": "1883",
    "tls": "5a2e0cb97e4635d3",
    "clientid": "",
    "autoConnect": true,
    "usetls": true,
    "protocolVersion": "5",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "678d9322240db5c6",
    "type": "mqtt-broker",
    "name": "Home Assistant Mosquitto MQTT",
    "broker": "jarvis.positronic.ovh",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "5a2e0cb97e4635d3",
    "type": "tls-config",
    "name": "",
    "cert": "",
    "key": "",
    "ca": "/etc/ssl/cert.pem",
    "certname": "",
    "keyname": "",
    "caname": "",
    "servername": "",
    "verifyservercert": true,
    "alpnprotocol": ""
  }
]
